<%- include('../../fragments/header.ejs')%>

    <main>
        <script type="application/javascript" src="/js/validationCommon.js"></script>
        <script type="application/javascript" src="/js/validationBikeForm.js"></script>
        <h2><%= pageTitle%></h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();" >
            <input type="hidden" name="ID_bike" value="<%= bike.ID_bike %>">
            <label for="Brand"><%= __('bike.fields.Brand') %>: <span class="symbol-required">*</span></label>
            <input type="text" name="Brand" id="Brand" placeholder="<%= __('validationMessage.specificError') %>" value="<%= bike.Brand %>" 
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <div>    
                <span style="display: none" class="errors-text" id="errorMessage-required-brand"><%= __('validationMessage.fieldRequired') %></span>
                <span style="display: none" class="errors-text" id="errorMessage-specific-brand"><%= __('validationMessage.specificError') %></span>
                <span id="errorBrand" class="errors-text"></span>    
            </div>
            <label for="Model"><%= __('bike.fields.Model') %>: <span class="symbol-required">*</span></label>
            <input type="text" name="Model" id="Model" placeholder="<%= __('validationMessage.specificError') %>" value="<%= bike.Model %>" 
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <div>    
                <span style="display: none" class="errors-text" id="errorMessage-required-model"><%= __('validationMessage.fieldRequired') %></span>
                <span style="display: none" class="errors-text" id="errorMessage-specific-model"><%= __('validationMessage.specificError') %></span>
                <span id="errorModel" class="errors-text"></span>    
            </div>
            <label for="Colour"><%= __('bike.fields.Colour') %>: <span class="symbol-required">*</span></label>
            <input type="text" name="Colour" id="Colour" placeholder="<%= __('validationMessage.specificError') %>" value="<%= bike.Colour %>" 
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <div>    
                <span style="display: none" class="errors-text" id="errorMessage-required-colour"><%= __('validationMessage.fieldRequired') %></span>
                <span style="display: none" class="errors-text" id="errorMessage-specific-colour"><%= __('validationMessage.specificError') %></span>
                <span id="errorColour" class="errors-text"></span>    
            </div>

            <% if (formMode == 'showDetails') { %>
                <div>
                    <a class="list-actions-button-edit" href="/bikes/edit/<%=bike.ID_bike%>"><%= __('form.actions.edit') %></a>
                </div>
            <% } %>
            <div class="form-buttons">
                <div> 
                    <span style="display: none" class="errors-text" id="errorMessage-summary"><%= __('validationMessage.errorsSummary') %></span>
                    <span id="errorsSummary" class="errors-text"></p>
                </div>
                <% if (formMode != 'showDetails') { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                    <a class="form-button-cancel" href="/bikes"><%= __('form.actions.cancel') %></a>
                <% } else { %>
                    <a class="form-button-cancel" href="/bikes"><%= __('form.actions.return') %></a>
                <% } %>
            </div>
        </form>
        <% if (formMode == 'showDetails') { %>
            <h2><%= __('bike.form.rental') %></h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th><%= __('rental.fields.Customer_ID_customer') %></th>
                        <th><%= __('rental.fields.Date_from') %></th>
                        <th><%= __('rental.fields.Date_to') %></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let rental of bike.Rentals) { %>
                        <tr>
                            <td><a href="/customers/details/<%= rental.Customer.ID_customer %>"><%= rental.Customer.Name + ' ' + rental.Customer.Surname %></a></td>
                            <td><%= rental.Date_from.toISOString().split('T')[0] %></td>
                            <td><%= rental.Date_to.toISOString().split('T')[0] %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } %>
    </main>
 

<%- include('../../fragments/footer.ejs')%>