<%- include('../../fragments/header.ejs')%>

<main>
   <h2>Lista rowerów</h2>
   <table class="table-list">
        <thead>
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th>Kolor</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        <% for (let bike of bikes) { %>    
            <tr>
                <td><%=bike.Brand%></td>
                <td><%=bike.Model%></td>
                <td><%=bike.Colour%></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/bikes/details/<%=bike.ID_bike%>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/bikes/edit/<%=bike.ID_bike%>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a href="/bikes/delete/<%=bike.ID_bike%>" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>    
        </tbody>
   </table>
<p><a href="/bikes/add" class="button-add"> Dodaj nowy rower</a></p>

<%- include('../../fragments/footer.ejs')%>