<%- include('../../fragments/header.ejs')%>

<main>
   <h2><%= __('bike.list.pageTitle') %></h2>
   <table class="table-list">
        <thead>
            <tr>
                <th><%= __('bike.fields.Brand') %></th>
                <th><%= __('bike.fields.Model') %></th>
                <th><%= __('bike.fields.Colour') %></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thead>
        <tbody>
        <% for (let bike of bikes) { %>    
            <tr>
                <td><%=bike.Brand%></td>
                <td><%=bike.Model%></td>
                <td><%=bike.Colour%></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/bikes/details/<%=bike.ID_bike%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                        <li><a href="/bikes/edit/<%=bike.ID_bike%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                        <li><a href="/bikes/delete/<%=bike.ID_bike%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                    </ul>
                </td>
            </tr>
        <% } %>    
        </tbody>
   </table>
<p><a href="/bikes/add" class="button-add"><%= __('bike.list.addNew') %></a></p>

<%- include('../../fragments/footer.ejs')%>