<%- include('../../fragments/header.ejs')%>
        <main>
            <script type="application/javascript" src="/js/validationCommon.js"></script>
            <script type="application/javascript" src="/js/validationCustomerForm.js"></script>
            <h2><%= pageTitle%></h2>
            <form class="form" method="post" action="<%=formAction%>" novalidate><!--onsubmit="return validateForm();" -->
                <input type="hidden" name="ID_customer" value="<%= customer.ID_customer %>">
                <label for="Name">Imię: <span class="symbol-required">*</span></label>
                <input type="text" name="Name" id="Name" placeholder="2-30 znaków" value="<%= customer.Name %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                <span id="errorName" class="errors-text">
                    <% if (validationErrors.find(e=> e.path.includes('Name'))) { %>
                        <%= validationErrors.find(e=> e.path.includes('Name')).message %>
                    <% } %>
                </span>
                <label for="Surname">Nazwisko: <span class="symbol-required">*</span></label>
                <input type="text" name="Surname" id="Surname" placeholder="2-30 znaków" value="<%= customer.Surname %>" 
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                <span id="errorSurname" class="errors-text">
                    <% if (validationErrors.find(e=> e.path.includes('Surname'))) { %>
                        <%= validationErrors.find(e=> e.path.includes('Surname')).message %>
                    <% } %>
                </span>
                <label for="Telephone">Telefon: <span class="symbol-required">*</span></label>
                <input type="text" name="Telephone" id="Telephone" placeholder="+48 XXX XXX XXX" value="<%= customer.Telephone %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                <span id="errorTelephone" class="errors-text">
                    <% if (validationErrors.find(e=> e.path.includes('Telephone'))) { %>
                        <%= validationErrors.find(e=> e.path.includes('Telephone')).message %>
                    <% } %>
                </span>
                <label for="Email">E-mail: <span class="symbol-required">*</span></label>
                <input type="text" name="Email" id="Email" placeholder="np. nazwa@domena.pl" value="<%= customer.Email%>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                <span id="errorEmail" class="errors-text">
                    <% if (validationErrors.find(e=> e.path.includes('Email'))) { %>
                        <%= validationErrors.find(e=> e.path.includes('Email')).message %>
                    <% } %>
                </span>


                <% if (formMode == 'showDetails') { %>
                    <div>
                        <a class="list-actions-button-edit" href="/customers/edit/<%=customer.ID_customer%>">Edytuj</a>
                    </div>
                <% } %>
                <div class="form-buttons">
                    <p id="errorsSummary" class="errors-text"></p>
                    <% if (formMode != 'showDetails') { %>
                        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                        <a class="form-button-cancel" href="/customers">Anuluj</a>
                    <% } else { %>
                        <a class="form-button-cancel" href="/customers">Powrót</a>
                    <% } %>
                </div>
            </form>
            <% if (formMode == 'showDetails' || formMode == 'edit') { %>
                <h2>Szczegóły wypożyczeń</h2>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th>Dane wypożyczonego roweru</th>
                            <th>Data od</th>
                            <th>Data do</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let rental of customer.Rentals) { %>
                            <tr>
                                <td><a href="/bikes/details/<%= rental.Bike.ID_bike %>"><%= rental.Bike.Brand + ' ' + rental.Bike.Model %></a></td>
                                <td><%= rental.Date_from.toISOString().split('T')[0] %></td>
                                <td><%= rental.Date_to.toISOString().split('T')[0] %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
        </main>

<%- include('../../fragments/footer.ejs')%>