<%- include('../../fragments/header.ejs')%>
        <main>
            <script type="application/javascript" src="/js/validationCommon.js"></script>
            <script type="application/javascript" src="/js/validationCustomerForm.js"></script>
            <h2><%= pageTitle%></h2>
            <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
                <input type="hidden" name="ID_customer" value="<%= customer.ID_customer %>">
                <label for="Name"><%= __('customer.fields.Name') %>: <span class="symbol-required">*</span></label>
                <input type="text" name="Name" id="Name" placeholder="<%= __('validationMessage.specificError') %>" value="<%= customer.Name %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                 <div>    
                    <span style="display: none" class="errors-text" id="errorMessage-required-name"><%= __('validationMessage.fieldRequired') %></span>
                    <span style="display: none" class="errors-text" id="errorMessage-specific-name"><%= __('validationMessage.specificError') %></span>
                    <span id="errorName" class="errors-text"></span>    
                </div>
                <label for="Surname"><%= __('customer.fields.Surname') %>: <span class="symbol-required">*</span></label>
                <input type="text" name="Surname" id="Surname" placeholder="<%= __('validationMessage.specificError') %>" value="<%= customer.Surname %>" 
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                <div>    
                    <span style="display: none" class="errors-text" id="errorMessage-required-surname"><%= __('validationMessage.fieldRequired') %></span>
                    <span style="display: none" class="errors-text" id="errorMessage-specific-surname"><%= __('validationMessage.specificError') %></span>
                    <span id="errorSurname" class="errors-text"></span>    
                </div>
                <label for="Telephone">Telefon:</label>
                <input type="text" name="Telephone" id="Telephone" placeholder="+48 XXX XXX XXX" value="<%= customer.Telephone %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                 <div>    
                    <span style="display: none" class="errors-text" id="errorMessage-specific-telephone"><%= __('validationMessage.telephoneError') %></span>
                    <span id="errorTelephone" class="errors-text"></span>    
                </div>
                <label for="Email">E-mail: <span class="symbol-required">*</span></label>
                <input type="text" name="Email" id="Email" placeholder="name@bike.pl" value="<%= customer.Email%>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                <div>    
                    <span style="display: none" class="errors-text" id="errorMessage-required-email"><%= __('validationMessage.fieldRequired') %></span>
                    <span style="display: none" class="errors-text" id="errorMessage-specific-email"><%= __('validationMessage.emailError') %></span>
                    <span id="errorEmail" class="errors-text"></span>    
                </div>

                <% if (formMode == 'createNew') { %>
                    <label for="Password"><%= __('register.password') %>: <span class="symbol-required">*</span></label>
                    <input type="text" name="Password" id="Password" placeholder="********" 
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                     <div>    
                        <span style="display: none" class="errors-text" id="errorMessage-required-password"><%= __('validationMessage.passwordRequired') %></span>
                        <span id="errorPassword" class="errors-text"></span>    
                    </div>
                <% } %>


                <% if (formMode == 'showDetails') { %>
                    <div>
                        <a class="list-actions-button-edit" href="/customers/edit/<%=customer.ID_customer%>"><%= __('form.actions.edit') %></a>
                    </div>
                <% } %>
                <div class="form-buttons">
                    <div> 
                        <span style="display: none" class="errors-text" id="errorMessage-summary"><%= __('validationMessage.errorsSummary') %></span>
                        <span id="errorsSummary" class="errors-text"></p>
                    </div>
                    <% if (formMode != 'showDetails') { %>
                        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                        <a class="form-button-cancel" href="/customers"><%= __('form.actions.cancel') %></a>
                    <% } else { %>
                        <a class="form-button-cancel" href="/customers"><%= __('form.actions.return') %></a>
                    <% } %>
                </div>
            </form>
            <% if (formMode == 'showDetails') { %>
                <h2><%= __('customer.form.rental') %></h2>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th><%= __('rental.fields.Bike_ID_bike') %></th>
                            <th><%= __('rental.fields.Date_from') %></th>
                            <th><%= __('rental.fields.Date_to') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let rental of customer.Rentals) { %>
                            <tr>
                                <td><a href="/bikes/details/<%= rental.Bike.ID_bike %>"><%= rental.Bike.Brand + ' ' + rental.Bike.Model %></a></td>
                                <td><%= rental.Date_from.toISOString().split('T')[0] %></td>
                                <td><%= rental.Date_to.toISOString().split('T')[0] %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
        </main>

<%- include('../../fragments/footer.ejs')%>