<%- include('../../fragments/header.ejs')%>

    <main>
        <h2><%= __('customer.list.pageTitle') %></h2>
       <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('customer.fields.Name') %></th>
                    <th><%= __('customer.fields.Surname') %></th>
                    <th><%= __('customer.fields.Telephone') %></th>
                    <th><%= __('customer.fields.Email') %></th>
                    <th><%= __('list.actions.title') %></th>
                </tr>
            </thead>
            <tbody>
            <% for (let customer of customers) { %>    
                <tr>
                    <td><%=customer.Name%></td>
                    <td><%=customer.Surname%></td>
                    <td><%=customer.Telephone%></td>
                    <td><%=customer.Email%></td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/customers/details/<%=customer.ID_customer%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                            <li><a href="/customers/edit/<%=customer.ID_customer%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                            <li><a href="/customers/delete/<%=customer.ID_customer%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                        </ul>
                    </td>
                </tr>
            <% } %>    
            </tbody>
       </table>
    <p><a href="/customers/add" class="button-add"><%= __('customer.list.addNew') %></a></p>
    </main>

<%- include('../../fragments/footer.ejs')%>