<%- include('../../fragments/header.ejs')%>

    <main>
        <h2>Lista wypożyczeń</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Marka i model</th>
                    <th>Data od</th>
                    <th>Data do</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <% for (let rental of rentals) { %>    
                <tr>
                    <td><%=rental.Customer.Name%> <%=rental.Customer.Surname%></td>
                    <td><%=rental.Bike.Brand%> <%=rental.Bike.Model%></td>
                    <td><%= rental.Date_from.toISOString().split('T')[0] %></td>
                    <td><%= rental.Date_to.toISOString().split('T')[0] %></td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/rentals/details/<%=rental.ID_rental%>" class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="/rentals/edit/<%=rental.ID_rental%>" class="list-actions-button-edit">Edytuj</a></li>
                            <li><a href="/rentals/delete/<%=rental.ID_rental%>" class="list-actions-button-delete">Usuń</a></li>
                        </ul>
                    </td>
                </tr>
            <% } %>    
            </tbody>
       </table>
    <p><a href="/rentals/add" class="button-add">Dodaj nowe wypożyczenie</a></p>
    </main>

<%- include('../../fragments/footer.ejs')%>