<%- include('../../fragments/header.ejs')%>

    <main>
        <h2><%= __('rental.list.pageTitle') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('rental.fields.Customer_ID_customer') %></th>
                    <th><%= __('rental.fields.Bike_ID_bike') %></th>
                    <th><%= __('rental.fields.Date_from') %></th>
                    <th><%= __('rental.fields.Date_to') %></th>
                    <th><%= __('list.actions.title') %></th>
                </tr>
            </thead>
            <% for (let rental of rentals) { %>    
                <tr>
                    <td><%=rental.Customer.Name%> <%=rental.Customer.Surname%></td>
                    <td><%=rental.Bike.Brand%> <%=rental.Bike.Model%></td>
                    <td><%= rental.Date_from.toISOString().split('T')[0] %></td>
                    <td><%= rental.Date_to.toISOString().split('T')[0] %></td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/rentals/details/<%=rental.ID_rental%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                            <li><a href="/rentals/edit/<%=rental.ID_rental%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                            <li><a href="/rentals/delete/<%=rental.ID_rental%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                        </ul>
                    </td>
                </tr>
            <% } %>    
            </tbody>
       </table>
    <p><a href="/rentals/add" class="button-add"><%= __('rental.list.addNew') %></a></p>
    </main>

<%- include('../../fragments/footer.ejs')%>