<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rbike - rental bike</title>

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <% if(!loggedUser) { %>
            <div id="'login">
                <h3><%= __('register.log') %></h3>
                <form class="form-buttons" method="post" action="/login" novalidate>
                    <label for="LoginEmail"><%= __('register.email') %>:</label>
                    <input type="email" id="LoginEmail" name="LoginEmail">
                    <label for="LoginPassword"><%= __('register.password') %>:</label>
                    <input type="password" id="LoginPassword" name="LoginPassword">
                    <input type="submit" value="<%= __('register.loginBtn') %>">
                    <span class="errors-text" id="loginErrors"><%= loginError ? loginError : ''%></span>
                </form>
            </div>
        <% } else { %>
            <span><%= __('register.loggedAs') %>: <%=loggedUser.Name + " " + loggedUser.Surname%></span>
            <a href="/logout"><%= __('register.logout') %></a>
        <% } %>        
        <header>
            <h1>RBike</h1>
            <img src="/img/logo.png" alt="RBike Logo">
        </header>
        <% if(loggedUser) { %>
        <nav>
            <ul>
                <li><a href="/" class="<%- navLocation == "mainNav" ? 'active' : ''%>"><%= __('nav.main-page') %></a></li>
                <li><a href="/customers" class="<%- navLocation == "customerNav" ? 'active' : ''%>"><%= __('nav.customers') %></a></li>
                <li><a href="/bikes" class="<%- navLocation == "bikeNav" ? 'active' : ''%>"><%= __('nav.bikes') %></a></li>
                <li><a href="/rentals" class="<%- navLocation == "rentalNav" ? 'active' : ''%>"><%= __('nav.rentals') %></a></li>
            </ul>
        </nav>
        <% } %>
